<style type="text/css">
    .content {
        width: 20%;
        height: 60px;
        border: 1px solid red;
        text-align: center;
    }
    
    span {
        height: 100%;
        vertical-align: middle;
        line-height: 60px;
    }
    
    img {
        vertical-align: middle;
    }
</style>
<div class="content">
    <img src="1.jpg" />
    <span>测试一下吧</span>
</div>