<template>
  <div class="home">
      <ul>
          <li v-for="(item, index) in 9" :key="index">
              <img 
                ref="img"
                src="@/assets/wode.png"
                :data-src="require('@/assets/img' + (index + 1) + '.jpg')"
                alt
              >
          </li>
      </ul>
  </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            let self = this;
            window.onscroll = self.throttle(function(e) {
                this.loadImg();
            })
        },
        throttle(func, delay = 300) {
            let timer = null;
            return function() {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    func.apply(this, arguments);
                }, delay);
            };
        },
        debounce(func, delay = 300) {
            let timer = null;
            return function () {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    func.apply(this, arguments);
                }, delay);
            }
        },
        loadImg() {
            let img = this.$refs.imgs;
            imgs.forEach(item => {
                let y = item.getBoundingClientRect().top;
                if(y < window.innerHeight) {
                    item.src = item.dataset.src;
                }
            })
        }
    }
}
</script>

<style>

</style>